#img{
    width: 150px;
    height: 150px;
}

body #name #password{
    background-color: white;
    color: black;
}

.test{
    background-color: black;
    color: white;
}

.mensagem{
    display: none;
    border: 1px solid #000;
    padding: 15px; 
    width: 400px;
    border-radius: 15px;
}

.back{
    display: none;
    border: 1px solid #fff;
    padding: 15px;
    width: 400px;
    border-radius: 15px;
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#bandeira{
    position: fixed;
    left: 1400px;
    bottom: 850px;
}

.port{
    top: 1000px;
    border: 1px solid #000;
    display: inline-block;
    padding: 0px;
}

.portu{
    border: 1px solid #fff;
    display: inline-block;
    padding: 0px;
}

#link_p{
    position: fixed;
    left: 1340px;
    bottom: 940px;
}
img{
    position: fixed;
    left: 1700px;
    bottom: 700px;
}

.footer a{
    color: #fff;
}

.footerw a{
    color: #000;
}

.footer{
    background-color: #000;
    position: fixed;
    width: 100%;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    margin: -0.4%;
    bottom: -0.4%;
    height: 5%;
}

.footerw{
    background-color: #fff;
    position: fixed;
    width: 100%;
    color: #000;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    margin: -0.4%;
    bottom: -0.4%;
    height: 5%;
}

.link_pt{
    color: #000;
}

.link_ptw{
    color: #fff;
}

#easter{
    position: fixed;
    font-size: 20;
    top: 910px;
    left: 1890px;
}

#memeimg{
    display: none;
    width: 500px;
    height: 500px;
    top: 300px;
    left: 680px;
}

#back{
    display: none;
    width: 150px;
    height: 50px;
}