#img{
    width: 150px;
    height: 150px;
}

body #name #password{
    background-color: white;
    color: black;
}

.test{
    background-color: black;
    color: white;
}

.mensagem{
    display: none;
    border: 2px solid #000;
    padding: 16px; 
    width: 365px;
    border-radius: 15px;
    height: 435px;
}

.back{
    display: none;
    border: 1px solid #fff;
    padding: 15px;
    width: 400px;
    border-radius: 15px;    
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#bandeira{
    position: fixed;
    left: 1400px;
    bottom: 850px;
}

.port{
    top: 1000px;
    border: 1px solid #000;
    display: inline-block;
    padding: 0px;
}

.portu{
    border: 1px solid #fff;
    display: inline-block;
    padding: 0px;
}

#link_p{
    position: fixed;
    left: 1340px;
    bottom: 940px;
}
img{
    position: fixed;
    left: 1700px;
    bottom: 700px;
}

.footer a{
    color: #fff;
}

.footerw a{
    color: #000;
}

.footer{
    background-color: #000;
    position: fixed;
    width: 100%;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    margin: -0.4%;
    bottom: -0.4%;
    height: 5%;
}

.footerw{
    background-color: #fff;
    position: fixed;
    width: 100%;
    color: #000;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    margin: -0.4%;
    bottom: -0.4%;
    height: 5%;
}

.link_pt{
    color: #000;
}

.link_ptw{
    color: #fff;
}

h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#formDetails{
    text-align: center;
}


.form1{
    border: 2px solid #000;
    padding: 15px; 
    width: 400px;
    height: 550px;
    border-radius: 15px;
}

.form1 h1{
    text-align: center;
    font-size: 10;
}

#showinfo{
    align-self: center;
}

.form2{
    border: 2px solid #000;
    padding: 15px; 
    width: 400px;
    height: 550px;
    border-radius: 15px;
}

#form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}